.outer {
  position: relative;
  width: 20vw;
  height: 10vh;
  border: 2px solid rgb(0, 47, 255);
  overflow: hidden;

  left: 10vw;
}

.inner {
  width: 50vw;
  height: 9vh;
  transition: 1s ease;
  transform: rotate(-30deg);
  z-index: 0;

  background: linear-gradient(
        90deg,
        #133096 0.22%,
        rgba(0, 56, 255, 0) 132.13%
    );
}

.inner:hover {
  transform: scale(2);
  z-index: 0;
}

.label {

  font-family: "Muli", sans-serif;
  font-size: 25px;
  color: rgb(99, 99, 99);

  top: 30%;
  text-align: center;
  z-index: 1;
}

.center {
  position: absolute;
  margin-left: 0;
  margin-right: 0;
  left: 0;
  right: 0;
}

#first #second{
  position: absolute;
  left: 20%;
  top: 10%;
  width: 50%;
  height: 50%;
  background: rgb(36, 124, 224);

  transform: rotate(-30deg);
}