.outer {
  display: block;
  position: relative;
  width: 20vw;
  height: 10vh;
  border: 2px solid #2755fa;
  border-radius: 5px;
  overflow: hidden;

  left: 10vw;
  transition-duration: 0.4s;
  top: 50%;

  align-items: center;
  opacity: 1;

  animation-name: appear;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.outer:hover {
  border: 2px solid grey;
}

.outer:hover label {
  color: white;
}

.outer:hover .inner {
  height: 20vh;
  width: 20vw;
}

.inner {
  position: absolute;
  top: 0%;
  background: linear-gradient(
        90deg,
        #2755fa 0.22%,
        rgba(0, 55, 255, 0.493) 132.13%
    );
  width: 0vw;
  height: 10vh;

  transition-duration: 0.5s;
}


label {
  font-family: "Muli", sans-serif;
  font-size: 30px;
  color: #2755fa;
  z-index: 2;
  top: 0%;
  transform: translateY(25%);
  
}

@keyframes appear { 
    0% { opacity: 0.5; height: 0; } 
    100%   {  }     
}