.outer {
  display: block;
  position: relative;
  width: 20vw;
  height: 10vh;
  border: 2px solid rgb(0, 47, 255);
  border-radius: 5px;
  overflow: hidden;

  left: 10vw;
  transition-duration: 0.4s;
  top: 50%;

  align-items: center;
}

.outer:hover {
  background-color: rgb(65, 65, 255);
  color: white;
}

label {
  font-family: "Muli", sans-serif;
  font-size: 30px;
  color: rgb(99, 99, 99);
  z-index: 1;
  position: absolute;
}

.center {
  position: absolute;
  margin-left: 0;
  margin-right: 0;
  left: 0;
  right: 0;
}

#first #second{
  position: absolute;
  left: 20%;
  top: 10%;
  width: 50%;
  height: 50%;
  background: rgb(36, 124, 224);

  transform: rotate(-30deg);
}